*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	background-image: url(../images/bg-body.png);
}

ul, ol{
	list-style: none;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

img{
	width: 100%;
}

.logo{
	border-radius: 50%; /* this works if the image has a square measure */
	width: 180px;
	margin: 15px auto 30px;
	display: block;
	box-shadow: 0 0 5px #000;
}

.main-nav{
	width: 0;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
	background-color: #222222;
	overflow: hidden;
	transition: 350ms;
}

.main-nav a{
	display: block;
	color: #ffffff;
	font-size: 1.4em;
	text-align: center;
	padding: 1em 0;
	border-bottom: solid 1px #ffffff;
	text-transform: uppercase;
}

/* selector de hermanos */
/* abre el .main-nav solo cuando está seleccionado el checkbox */
#abre-nav:checked ~ .main-nav{
	width: 100vw;
}

/* ocultamos el checkbox */
#abre-nav{
	display: none;
}

.cierra{
	color: #ebe164;
	font-size: 3em;
	position: absolute;
	right: 10px;
	top: 5px;
}

.toggle-nav{
	display: block;
	font-size: 2em;
	color: #ffffff;
	margin: auto;
	width: 50px;
	background-color: #222222;
	padding: 15px 0;
	text-align: center;
}

.banner{
	display: none;
}

.product{
	margin: 15px 0;
	padding: 0 15px;
	text-align: center;
}

.product h2,
.product p{
	text-align: left;
}

.product h2{
	font-size: 2.3em;
}

.product p{
	font-size: 1.5em;
	line-height: 1.5;
}

.product a{
	display: inline-block;
	background-color: #222222;
	padding: 15px;
	font-size: 1.2em;
	color: #FFFFFF;
}

.main-footer{
	background-color: #ec2418;
	border-radius: 10px 10px 0 0;
}

.main-footer a{
	display: block;
	border-bottom: solid 1px #fff;
	padding: 15px;
	color: #FFF;
	text-align: center;
	font-size: 1.4em;
	text-transform: uppercase;
}



/* Si cómo mínimo el viewport tiene 650px de ancho */
@media (min-width: 650px) {	
	.main-nav{
		width: 100%; /* ocupa el 100% de ancho del padre */
		height: auto; /* el contenido generá el alto */
		position: static; /* absolute - relative - fixed - static */
		background-color: transparent; /* elimina el color del fondo */
	}

	.main-nav li{
		float: left;
		width: 15%;
		margin: 0 0.83%; /* top-bottom / rigth-left*/
	}

	.main-nav a{
		background-color: #222222; /* aplico fondo */
		border-bottom: none; /* elimino el borde */
	}

	.cierra, .toggle-nav{
		display: none; /* ocultamos estos elementos */
	}

	.banner{
		display: block; /* para sacar el display: none; puedo poner cualquier otro valor */
		margin: 30px 0.83%; /* top-bottom / right-left */
	}

	.vip-products{
		overflow: hidden;
	}

	.product{
		margin: 0 0.83% 15px; /* top / right-left / bottom */
		padding: 0; /* elimino el relleno */
		float: left;
		width: 48.33%; /* se suma a esto 0.83 y 0.83 de los márgenes laterales */
	}

	.main-footer{
		text-align: center;
		padding: 30px 0;
	}

	.main-footer li{
		display: inline-block; /* en vez de flotar, genero que se comporten como semi-bloque ya que no me importa mucho el tamaño real del elemento */
	}

	.main-footer li:last-child a{
		border-right: none; /* elimina el borde de la <a> que está dentro del último <li> */
	}

	.main-footer a{
		border-bottom: none;
		border-right: solid 1px #ffffff;
	}
}



/* Si cómo mínimo el viewport tiene 1200px de ancho */
@media (min-width: 1200px) {
	.container{
		max-width: 1200px;
		margin: auto;
	}

	.product{
		width: 31.67%;
	}
}
